#cart-wrapper {
    max-width: 1000px;
    height: 60vh; 
    margin: 50px auto;
    padding: 20px;
    background-color: #F4F9F1; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

#cart-wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #252C2D; 
}

#cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#cart-table th, #cart-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

#cart-table th {
    background-color: #C9DFB9; 
    color: #252C2D;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-info img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#cart-table input[type="number"] {
    width: 60px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.remove-btn {
    background-color: #FF6B6B;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #FF4949;
}

#cart-summary {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: auto; 
    font-size: 1.2rem;
}

#cart-summary p {
    font-size: 1.2rem;
    color: #252C2D;
}

#cart-summary .primary-btn {
    background-color: #C9DFB9; 
    color: #252C2D; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#cart-summary .primary-btn:hover {
    background-color: #8FA090; 
}
