#products-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
}

.product-card img {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
    border-radius: 8px;
}

.product-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.price-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#product-list-price {
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.product-card button {
    background-color: #4caf50;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.product-card button:hover {
    background-color: #45a049;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    z-index: 1000;
}

.modal-button {
    margin: 10px 5px;
    padding: 10px 15px;
    background-color: #C9DFB9;
    color: #252C2D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    background-color: #8FA090;
}
